@font-face {
  font-family: 'Averta';
  src: url("../fonts/avertastd-bold.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Averta';
}

.background {
  width: 100%;
  height: 100%;
  background: url("../static/background.svg") no-repeat 50% 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.1rem 2rem;
}

nav .logo-cnr img {
  height: 42px;
}

.combat-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -6%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4.7rem;
  -webkit-column-gap: 1.4rem;
          column-gap: 1.4rem;
  color: #fff;
}

.combat-section .combat-name {
  width: 65%;
  font-size: 3.7rem;
}

.combat-section .combat-name h1 {
  text-align: left;
}

.combat-section .combat-details-wrapper {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #004AB3;
  border-radius: 1rem;
  padding: 2rem;
  row-gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.combat-section .combat-details-wrapper .combat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  font-size: 2.3rem;
}

.combat-section .combat-details-wrapper .combat-row .combat-logo-cnr {
  background: #04439D;
  border-radius: 50%;
  padding: 1rem;
}

.combat-section .combat-details-wrapper .combat-row .combat-logo-cnr img {
  height: 34px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .coupon-code-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .coupon-code-wrapper .coupon-text {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

footer .coupon-code-wrapper .coupon-text p {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

footer .coupon-code-wrapper .coupon-text p .coupon-code {
  background: #04439D;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 2.35rem;
}

footer .coupon-code-container {
  width: 500px;
  position: absolute;
  z-index: 1;
  height: 0;
  bottom: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 80px solid #004AB3;
  padding: 1.2rem;
}
/*# sourceMappingURL=combat.css.map */