<head>
  <base href="/Users/adityaarora/code/python-imagen-service/py-img/">
</head>
<link rel="stylesheet" href="styles/combat.css"/>
<div class="background">
  <nav>
    <div class="logo-cnr">
      <img src="static/unacademy-text-logo.svg" alt="unacademy">
    </div>
  </nav>
  <section class="combat-section">
    <div class="combat-name">
      <h1>{{combat.name}}</h1>
    </div>
    <div class="combat-details-wrapper">
        {% if combat.date %}
        <div class="combat-row">
          <div class="combat-logo-cnr">
            <img src="static/calendar-logo.svg" alt="date"/>
          </div>
          <p>{{combat.date}}</p>
        </div>
        {% endif %}
        {% if combat.time %}
        <div class="combat-row">
          <div class="combat-logo-cnr">
            <img src="static/clock-logo.svg" alt="time"/>
          </div>
          <p>{{combat.time}}</p>
        </div>
        {% endif %}
        {% if combat.topic %}
        <div class="combat-row">
          <div class="combat-logo-cnr">
            <img src="static/book-logo.svg" alt="topic"/>
          </div>
          <p>{{combat.topic}}</p>
        </div>
        {% endif %}
        {% if combat.details %}
        <div class="combat-row">
          <div class="combat-logo-cnr">
            <img src="static/settings-logo.svg" alt="settings"/>
          </div>
          {% for detail in combat.details %}
            {% if loop.first %}<span>{{detail}}</span>{% else %}•<span>{{detail}}</span>{% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
  </section>
  <footer>
    {% if combat.coupon_code %}
    <div class="coupon-code-wrapper">
      <div class="coupon-code-container"></div>
      <div class="coupon-text">
        <p>Use code <span class="coupon-code">{{combat.coupon_code}}</span> </p>
      </div>
    </div>
    {% endif %}
  </footer>

  
</div>
</body>