<head>
  <base href="/Users/ankitravikumars/Desktop/python-imagen-service/py-img/">
</head>
<link rel="stylesheet" href="static/styles/combat.css"/>
<div class="background">
  <nav>
     <div class="logo-cnr">
        <img src="static/images/unacademy-text-logo.svg" alt="unacademy">
     </div>
  </nav>
  <section class="combat-section">
     <div class="combat-name">
        <h1>{{combat.name}}</h1>
     </div>
     <div class="combat-details-wrapper">
        {% if combat.date %}
        <div class="combat-row">
           <div class="combat-logo-cnr">
              <img src="static/images/calendar-logo.svg" alt="date"/>
           </div>
           <p>{{combat.date}}</p>
        </div>
        {% endif %}
        {% if combat.time %}
        <div class="combat-row">
           <div class="combat-logo-cnr">
              <img src="static/images/clock-logo.svg" alt="time"/>
           </div>
           <p>{{combat.time}}</p>
           {% if combat.duration %}
           <span class="period-cnr"><span class="period"></span>
           </span> <span>{{combat.duration}}</span>
           {% endif %}
        </div>
        {% endif %}
        {% if combat.topics %}
        <div class="combat-row">
           <div class="combat-logo-cnr">
              <img src="static/images/book-logo.svg" alt="topic"/>
           </div>
           {% for topic in combat.topics %}
           {% if loop.first %}<span>{{topic}}</span>{% else %} 
           <span class="period-cnr"><span class="period"></span>
           </span> <span>{{topic}}</span>{% endif %}
           {% endfor %}
        </div>
        {% endif %}
        {% if combat.details %}
        <div class="combat-row">
           <div class="combat-logo-cnr">
              <img src="static/images/settings-logo.svg" alt="settings"/>
           </div>
           {% for detail in combat.details %}
           {% if loop.first %}<span>{{detail}}</span>{% else %} 
           <span class="period-cnr"><span class="period"></span>
           </span> <span>{{detail}}</span>{% endif %}
           {% endfor %}
        </div>
        {% endif %}
     </div>
  </section>
  <footer>
     {% if combat.coupon_code %}
     <div class="coupon-code-wrapper">
        <div class="coupon-code-container"></div>
        <div class="coupon-text">
           <p>Use code <span class="coupon-code">{{combat.coupon_code}}</span> </p>
        </div>
     </div>
     {% endif %}
  </footer>
</div>
</body>
© FreeFormatter.com - FREEFORMATTER is a d/b/a of 10174785 Canada Inc. - Copyright Notice - Privacy Statement - Terms of Use - Contact