boto3==1.24.10
botocore==1.27.10
Brotli==1.0.9
cffi==1.15.0
cssselect2==0.6.0
fonttools==4.33.3
html2image==2.0.1
html5lib==1.1
Jinja2==3.1.2
jmespath==1.0.0
MarkupSafe==2.1.1
memory-profiler==0.60.0
pdfkit==1.0.0
Pillow==9.1.1
protobuf==3.19.4
psutil==5.9.1
pycparser==2.21
pydyf==0.2.0
pyphen==0.12.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
tinycss2==1.1.1
urllib3==1.26.9
weasyprint==55.0
webencodings==0.5.1
zopfli==0.2.1
